# --- SEGURIDAD (API KEYS) ---
# Llaves de YouTube
.env
keys.txt
credentials.json
client_secret*.json

# --- PYTHON & ANACONDA ---
__pycache__/
*.py[cod]
*$py.class
.conda/
.ipynb_checkpoints/
*_final.py

# --- SISTEMA ---
Thumbs.db
.DS_Store

# --- LOGS ---
02_proyecto_principal/logs/